/* News.css */

.news-container {
  color: #333;
  padding-top: 60px;
  /* Adjust for the ticker's fixed position */
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Ticker styling */
.ticker {
  margin-top: 80px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #404040;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0;
}

.ticker-inner {
  display: inline-block;
  animation: ticker 100s linear infinite;
}

.ticker-item {
  display: inline-block;
  margin-right: 50px;
}

.positive {
  color: #96e856;
  font-weight: bold;
}

.negative {
  color: red;
  font-weight: bold;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Grid layout for news items */
.list-group {
  margin-top: 150px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  /* Limits to 3 cards per row */
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* News item styling for blocks */
.list-group-item {
  width: 450px;
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.list-group-item:hover {
  transform: scale(1.02);
}

.news-item h5 {
  color: #fff;
}

.news-item p {
  margin: 5px 0;
}

.price {
  font-size: 1.1em;
  font-weight: bold;
}

.positive,
.negative {
  font-size: 1.1em;
}


/*
  position:fixed;
    z-index: 1000; 
    margin-top:80px;
    width: 100%;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px 0;*/